body
{
      padding: 16px;
      background-color: rgb(0, 119, 255); 
      color: rgb(165, 0, 0);
}
img {
      display: block;
      max-width: 40%;
      width: 20%;
    }
    nav {
      width: 30%;
      max-width: 60%;
}